<div class="well">
  <div class="row">
    <%= form_with(model: stock, local: true) do |form| %>
      <% if stock.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>
          <ul>
          <% stock.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label "Tên Kho:" %>
          <%= form.text_field :sto_name, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= form.label "Địa Chỉ:" %>
          <%= form.text_field :sto_address, class: "form-control " %>
        </div>
        <div class="form-group">
          <%= form.submit "Đồng Ý", class: "btn btn-primary"  %>
        </div>
      </div>
       <div class="col-md-6"> 
        <div class="form-group">
          <%= form.label "Người Quản Lý:" %>
          <%= form.text_field :sto_manager, class: "form-control " %>
        </div>
        <div class="form-group">
          <%= form.label "Thông Tin Phụ:" %>
          <%= form.text_field :desc, class: "form-control " %>
        </div>
      </div>
    <% end %>
  </div>
</div>  
