<%= flash_messages %>
<header>
  <h2>Đăng Nhập</h2>
</header>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="devise-container">
    <div class="row">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group actions">
        <% if devise_mapping.rememberable? -%>
          <div class="field pull-left">
            <%= f.check_box :remember_me %>
            <%= f.label :Lưu %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <%= f.submit "Xác Nhận", class: "btn btn-primary" %>
<% end %>